<body>
  <div class="header">
    <div class="head" fxLayout="row">
      <div class="sidnav">
        <mat-sidenav-container
          class="example-container"
          fxLayoutAlign="start center"
        >
          <mat-sidenav #sidenav mode="side" fxLayoutAlign="center center">
            <mat-nav-list class="margintop">
              <a mat-list-item routerLink="/welcome" (click)="sidenav.close()">
                <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
              </a>
              <a mat-list-item routerLink="/aboutus" (click)="sidenav.close()">
                <mat-icon>people</mat-icon>
                <span class="nav-caption">AboutUs</span>
              </a>
              <a
                mat-list-item
                routerLink="/contactus"
                (click)="sidenav.close()"
              >
                <mat-icon>email</mat-icon>
                <span class="nav-caption">ContactUs</span>
              </a>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
            <button class="btn-position" mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>

      <div class="content" fxFlex fxLayoutAlign="center center" fxLayout="column">
        <div fxLayoutAlign="center center">
          <mat-card class="form-container" fxLayoutAlign="center center" fxLayout="column">
            <h1>About Us</h1>
    
            <div class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas similique quaerat et officiis 
              fugit libero ipsum non doloribus facere animi est, 
              odio porro totam debitis vero.
               Illum accusantium dolores mollitia?
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas similique quaerat et officiis 
              fugit libero ipsum non doloribus facere animi est, 
              odio porro totam debitis vero.
               Illum accusantium dolores mollitia?
            </div>
          </mat-card>
        </div>
      </div>
      
      <div class="auth0">
        <ul class="navigation-items">
          <li>
            <a (click)="auth.login()" *ngIf="!auth.loggedIn">Login</a>
            <a (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
