/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

// mat-sidenav-container,
// mat-sidenav-content,
// mat-sidenav {
//   height: 100%;
  
// }

// mat-sidenav {
//   width: 250px;
  
// }